# Ambiente virtual
venv/
.venv/
env/

# Variáveis de ambiente / credenciais
.env
*.env
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/

# Spark
metastore_db/
spark-warehouse/
derby.log

# Jupyter
.ipynb_checkpoints/

# SO
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
